body {
    text-align: center;
    background-color: #F5F5F5;
    margin: 50px;
}

h1 {
    font-family:'Oswald', sans-serif; 
    color: #363062;
}

p {
    font-family: 'Fira Sans', sans-serif; 
    color: #1F1717;
}


a {
    color: #335af3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}  

#todays_challenge {
    color: #1F1717;
    font-size: 52px;
}