body {
    text-align: center;
    background-color: ;
}

h1 {
    font-family:'Oswald', sans-serif; 
    color: royalblue;
}

p {
    font-family: 'Fira Sans', sans-serif; 
    color: rgb(71, 70, 70);
}


a {
    color: rgb(170, 96, 83);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}  

#todays_challenge {
    color: rgb(170, 96, 83);
    font-weight: bold;
    font-size: 52px;
}