body {
    text-align: center;
    background-color: #F5F5F5;
    text-align: center;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 52px;
}

a {
    font-family: 'Fira Sans', sans-serif;
    color: #335af3;
    text-decoration: none;
}

p {
    font-family: 'Fira Sans', sans-serif;
    font-size: medium;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}